body {
  font-family: Montserrat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  font-family: Montserrat;
}

button {
  padding: 10px;
  background-color: black;
  color: white;
  font-family: Montserrat;
}

.logo {
  width: 200px;
}
